<a href="https://colab.research.google.com/github/AdhavanHero/Python-Machine-Learning/blob/main/Naive_bayes_classifier/Tintanic_Survivor_Prediction(Naive_bayes_classifier)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from sklearn import linear_model

import math
from google.colab import files
uploaded = files.upload()

Saving titanic1.csv to titanic1 (1).csv

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['titanic1.csv']))

In [ ]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [ ]:
target = df.Survived
inputs=df.drop('Survived',axis='columns')

In [ ]:
dummies=pd.get_dummies(inputs.Sex)

In [ ]:
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [ ]:
inputs=pd.concat([inputs,dummies],axis='columns')

In [ ]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
inputs.Age=inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
inputs.drop('Sex',axis='columns',inplace=True)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test =train_test_split(inputs,target,test_size=0.2)

In [ ]:
len(x_test)

179

In [ ]:
len(x_train)

712

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [ ]:
model.fit(x_train,y_train)

GaussianNB()

In [ ]:
x_test[:10]

     Pclass   Age     Fare
483       3  63.0   9.5875
776       3   NaN   7.7500
715       3  19.0   7.6500
801       2  31.0  26.2500
226       2  19.0  10.5000
236       2  44.0  26.0000
821       3  27.0   8.6625
456       1  65.0  26.5500
667       3   NaN   7.7750
712       1  48.0  52.0000

In [ ]:
model.score(x_test,y_test)

0.8324022346368715

In [ ]:
model.predict(x_test[:10])

array([0, 0, 1, 0, 0, 1, 1, 0, 1, 1])